@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');
:root {
	--accent: darkblue;
	--accent2: gainsboro;
	--buttonBG: rgb(60, 60, 60);
	--buttonBGHover: rgb(90, 90, 90);
	--BG: rgb(21, 21, 21);
	--textColor: white;
	--textColorOnA2: black;
	--inputBG: rgb(60, 60, 60);
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Ovo', serif;
	color-scheme: dark;
}
body {
	background-color: var(--BG);
}
main {
	margin-top: 70px;
}
header {
	width: 100%;
	position: fixed;
	z-index: 100;
	top: 0;
	height: 50px;
	max-height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5px;
	background-color: var(--accent2);
	& #header_title {
		font-size: 19px;
		font-weight: 500;
		color: var(--textColorOnA2);
		letter-spacing: 2px;
		& svg {
			position: relative;
			top: 4px;
		}
	}
	& #search_input,
	#type_select {
		height: 20px;
		border-radius: 5px;
		outline: none;
		border: 1px solid black;
		padding: 2px;
		color: var(--accent2);
	}
	& #type_select {
		padding: 0;
	}
	& #home_link {
		color: black;
		text-decoration: none;
		&:hover svg {
			stroke: var(--accent);
		}
	}
	& label {
		color: var(--textColorOnA2);
	}
	& #search_submit {
		background-color: transparent;
		outline: none;
		border: none;
		position: relative;
		top: 3px;
		cursor: pointer;
		&:hover svg {
			stroke: var(--accent);
		}
	}
}

#saved_books {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 5px;
	padding: 15px;
	& .saved-book {
		display: flex;
		gap: 5px;
		border: 1px solid var(--accent2);
		border-radius: 15px;
		padding-right: 5px;
		box-shadow: 0 0 4px 4px rgb(40, 40, 40);
		font-size: 14px;
		background-color: rgb(30, 30, 30);
		& .sb-cover {
			width: 180px;
			height: 240px;
			min-width: 180px;
			border-radius: 15px;
		}
		& .sb-info {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			/* border: 1px solid red; */
			& .sb-title {
				font-size: 18px;
				font-weight: 600;
				letter-spacing: 1px;
			}
			& .sb-rating {
				display: flex;
				align-items: center;
				gap: 2px;
			}
			& .sb-status {
				padding: 1px 5px;
				border-radius: 7px;
				text-decoration: none;
				color: var(--textColor);
				&.to {
					background-color: rgb(83, 0, 0);
					&:hover {
						background-color: rgb(114, 1, 1);
					}
				}
				&.reading {
					background-color: rgb(124, 91, 9);
					&:hover {
						background-color: rgb(143, 106, 12);
					}
				}
				&.have {
					background-color: rgb(0, 63, 0);
					&:hover {
						background-color: rgb(0, 82, 0);
					}
				}
			}
			& .sb-buttons {
				display: flex;
				width: stretch;
				justify-content: flex-end;
				gap: 5px;
				font-size: 14px;
				& > * {
					text-decoration: none;
					background-color: var(--buttonBG);
					border-radius: 5px;
					color: var(--textColor);
					width: fit-content;
					padding: 2px 5px;
					&:hover {
						background-color: var(--buttonBGHover);
					}
				}
				& .sb-delete {
					color: red;
				}
			}
		}
	}
}

@media (max-width: 1080px) {
	#saved_books {
		grid-template-columns: 1fr 1fr;
	}
}
@media (max-width: 775px) {
	#saved_books {
		grid-template-columns: 1fr;
	}
}

#filter_order {
	padding-bottom: 15px;
	margin: 0 15px;
	width: auto;
	border-bottom: 1px solid var(--accent2);
	display: flex;
	justify-content: space-between;
	& > div {
		display: flex;
		gap: 5px;
		align-items: center;
		width: fit-content;
	}
	& a {
		border: none;
		background-color: var(--buttonBG);
		border-radius: 5px;
		text-decoration: none;
		padding: 2px 5px;
		color: var(--textColor);
		&:hover {
			background-color: var(--buttonBGHover);
		}
		&.active {
			border: 1px solid var(--accent);
			background-color: var(--BG);
		}
	}
}

#search_results {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 15px;
	& .search-result {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: fit-content;
		align-items: center;
		gap: 2px;
		& .sr-title {
			font-size: 17px;
			text-align: center;
		}
		& .sr-author {
			font-size: 14px;
		}
		& .sr-image {
			width: 180px;
			min-width: 180px;
			height: 240px;
			border-radius: 15px;
			&:hover {
				cursor: pointer;
				outline: 1px solid var(--accent2);
			}
		}
	}
}

#book_details {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	width: auto;
	position: relative;
	& #back_button {
		background-color: var(--buttonBG);
		padding: 5px 5px 2px 5px;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 10px;
		border: 1px outset var(--accent2);
		&:hover {
			background-color: var(--buttonBGHover);
		}
	}
	& #bd_info {
		display: flex;
		flex-direction: row;
		width: 80%;
		justify-content: center;
		align-items: center;
		gap: 15px;
		& #bd_first_cover {
			width: 180px;
			height: 240px;
			border-radius: 15px;
			box-shadow: 0 0 4px 4px rgb(35, 35, 35);
		}
		& #bd_info_text {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			& #bd_date_added {
				width: stretch;
				text-align: right;
				font-style: italic;
				font-size: 14px;
			}
		}
	}
	& #bd_title {
		font-size: 20px;
		font-weight: 600;
	}
	& #bd_authors {
		font-size: 14px;
	}
	& #bd_description {
		text-indent: 4ch;
	}
	& form {
		margin-top: 10px;
		min-width: 85%;
		& input,
		textarea {
			background-color: var(--inputBG);
			border: 1px solid black;
			outline: none;
		}
		& fieldset {
			text-align: center;
			padding: 15px;
			border-radius: 15px;
			border: 1px solid var(--accent2);
			& legend {
				padding: 0 5px;
			}
		}
		& #bd_status_con {
			background-color: var(--inputBG);
			border-radius: 5px;
			height: fit-content;
			width: fit-content;
			padding: 2px 0;
			& label {
				padding: 2px 5px;
				border-radius: 5px;
				font-size: 15px;
				cursor: pointer;
				&:hover {
					background-color: var(--accent);
				}
			}
			& input:checked + label {
				background-color: var(--accent);
			}
		}
		& #bd_covers {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 10px;
			& img {
				width: 130px;
				height: 190px;
				border-radius: 15px;
				cursor: pointer;
				&:hover {
					outline: 2px solid var(--accent2);
				}
			}
			& .bd-cover-radio:checked + label img {
				outline: 2px solid var(--accent2);
			}
		}
		& #bd_save_inputs {
			display: flex;
			flex-direction: row;
			gap: 10px;
			margin-top: 10px;
			& textarea {
				width: 100%;
				height: 200px;
				padding: 5px;
				resize: none;
				border-radius: 5px;
			}
		}
		& #bd_save_options {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			width: stretch;
			align-items: left;
			& #bd_genre_con {
				text-align: left;
				font-size: 15px;
				& #bd_genre {
					padding: 2px 5px;
					border-radius: 5px;
				}
			}
			& #bd_rating_radios {
				text-align: left;
				& .bd-rating-radio {
					position: relative;
					top: 2px;
					&.active-rating + label svg {
						fill: yellow;
					}
					& + label {
						cursor: pointer;
					}
				}
			}
		}
		& #bd_buttons {
			display: flex;
			gap: 5px;
			justify-content: flex-end;
		}
		& .bd-button {
			padding: 2px 5px;
			background-color: var(--buttonBG);
			border-radius: 5px;
			width: fit-content;
			color: var(--textColor);
			border: 1px outset var(--accent2);
			outline: none;
			cursor: pointer;
			&:hover {
				background-color: var(--buttonBGHover);
			}
			&:active {
				background-color: var(--BG);
				border: 1px solid var(--accent);
			}
		}
	}
}

footer {
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 13px;
	padding-right: 10px;
	position: absolute;
	bottom: 0;
}
