@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');
/* :root {
	--accent: darkblue;
	--accent2: gainsboro;
	--buttonBG: rgb(60, 60, 60);
	--buttonBGHover: rgb(90, 90, 90);
	--BG: rgb(21, 21, 21);
    --FG: rgb(30,30,30);
	--textColor: white;
	--textColorOnA2: black;
	--inputBG: var(--buttonBG);
    --boxShadow: 0 0 4px 4px var(--FG);
} */
/* :root {
	--accent: darkblue;
	--accent2: rgb(100, 116, 122);
	--buttonBG: rgb(184, 184, 184);
	--buttonBGHover: rgb(170, 170, 170);
	--BG: rgb(221, 221, 221);
	--FG: rgb(190, 190, 190);
	--textColor: rgb(0, 0, 0);
	--textColorOnA2: white;
	--inputBG: var(--buttonBG);
	--boxShadow: 0 0 4px 4px rgb(205, 205, 205);
} */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Ovo', serif;
	/* color-scheme: light; */
	transition: color 0.3s, background-color 0.3s, border 0.3s;
}
html {
	position: relative;
}
body.dark-theme {
	--accent: darkblue;
	--accent2: gainsboro;
	--buttonBG: rgb(60, 60, 60);
	--buttonBGHover: rgb(90, 90, 90);
	--BG: rgb(21, 21, 21);
	--FG: rgb(30, 30, 30);
	--textColor: white;
	--textColorOnA2: black;
	--inputBG: var(--buttonBG);
	--boxShadow: 0 0 4px 4px var(--FG);
	background-color: var(--BG);
	min-height: 99vh;
	& * {
		color-scheme: dark;
	}
}

body.light-theme {
	--accent: darkblue;
	--accent2: rgb(137, 179, 179);
	--buttonBG: rgb(180, 180, 180);
	--buttonBGHover: rgb(170, 170, 170);
	--BG: rgb(230, 230, 230);
	--FG: rgb(200, 200, 200);
	--textColor: rgb(0, 0, 0);
	--textColorOnA2: white;
	--inputBG: var(--buttonBG);
	--boxShadow: 0 0 4px 4px rgb(205, 205, 205);
	background-color: var(--BG);
	min-height: 99vh;
	& * {
		color-scheme: light;
	}
}
main {
	padding: 70px 0;
}
header {
	width: 100%;
	position: fixed;
	z-index: 100;
	top: 0;
	height: 50px;
	max-height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	background-color: var(--accent2);
	& svg {
		stroke: var(--textColorOnA2);
	}
	/* & #header_title {
		font-size: 19px;
		font-weight: 500;
		color: var(--textColorOnA2);
		& svg {
			position: relative;
			top: 4px;
		}
	} */
	& #search_input,
	#type_select {
		height: 20px;
		border-radius: 5px;
		outline: none;
		border: 1px solid black;
		padding: 2px;
		color: var(--textColor);
	}
	& #type_select {
		padding: 0;
	}
	& #home_link,
	#change_theme {
		text-decoration: none;
		background-color: #0000;
		border: none;
		&:hover svg {
			stroke: var(--accent);
		}
		& svg {
			stroke: var(--textColorOnA2);
		}
	}
	& label {
		color: var(--textColorOnA2);
	}
	& #search_submit {
		background-color: transparent;
		outline: none;
		border: none;
		position: relative;
		top: 3px;
		cursor: pointer;
		&:hover svg {
			stroke: var(--accent);
		}
	}
}

#saved_books {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 5px;
	padding: 15px;
	& .saved-book {
		display: flex;
		gap: 5px;
		border: 1px solid var(--accent2);
		border-radius: 15px;
		padding-right: 5px;
		box-shadow: var(--boxShadow);
		font-size: 14px;
		background-color: var(--FG);
		color: var(--textColor);
		& .sb-cover {
			width: 180px;
			height: 240px;
			min-width: 180px;
			border-radius: 15px;
		}
		& .sb-info {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: relative;
			gap: 5px;
			padding: 5px 0;
			/* border: 1px solid red; */
			& .sb-scale-info {
				height: stretch;
				font-size: 15px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 10px;
			}
			& .sb-title-author {
				display: flex;
				flex-direction: column;
				gap: 5px;
				/* position: absolute;
				top: 10px; */
			}
			& .sb-title {
				font-size: 18px;
				font-weight: 600;
				letter-spacing: 1px;
			}
			& .sb-rating {
				display: flex;
				align-items: center;
				gap: 2px;
				& svg {
					stroke: var(--textColor);
				}
			}
			& .sb-status {
				padding: 1px 5px;
				border-radius: 7px;
				text-decoration: none;
				color: var(--textColor);
				border: 1px outset var(--accent2);
				&.to {
					background-color: rgba(100, 0, 0, 0.6);
					&:hover {
						background-color: rgb(150, 0, 0);
					}
				}
				&.reading {
					background-color: rgba(143, 106, 12, 0.6);
					&:hover {
						background-color: rgb(160, 120, 30);
					}
				}
				&.have {
					background-color: rgba(0, 82, 0, 0.6);
					&:hover {
						background-color: rgb(0, 130, 0);
					}
				}
			}
			& .sb-buttons {
				display: flex;
				width: stretch;
				justify-content: flex-end;
				/* position: absolute;
				bottom: 5px; */
				gap: 5px;
				font-size: 14px;
				margin-top: 5px;
				& > * {
					border: 1px outset var(--accent2);
					text-decoration: none;
					background-color: var(--buttonBG);
					border-radius: 5px;
					color: var(--textColor);
					width: fit-content;
					padding: 2px 5px;
					&:hover {
						background-color: var(--buttonBGHover);
					}
					&:active {
						background-color: var(--BG);
						border: 1px solid var(--accent);
					}
				}
				& .sb-delete {
					color: red;
				}
			}
		}
	}
}

#filter_order {
	padding-bottom: 15px;
	margin: 0 15px;
	width: auto;
	border-bottom: 1px solid var(--accent2);
	display: flex;
	justify-content: space-between;
	color: var(--textColor);
	& > div {
		display: flex;
		gap: 5px;
		align-items: center;
		width: fit-content;
	}
	& a {
		border: none;
		background-color: var(--buttonBG);
		border-radius: 5px;
		text-decoration: none;
		padding: 2px 5px;
		color: var(--textColor);
		border: 1px outset var(--accent2);
		&:hover {
			background-color: var(--buttonBGHover);
		}
		&.active {
			border: 1px solid var(--accent);
			background-color: var(--BG);
		}
	}
}

#search_string {
	font-size: 17px;
	width: 100%;
	text-align: center;
	color: var(--textColor);
	& #string {
		font-style: italic;
	}
}

#search_results {
	display: grid;
	/* grid-template-columns: 1fr 1fr 1fr; */
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	gap: 20px 15px;
	padding: 15px;
	color: var(--textColor);
	& .search-result {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: fit-content;
		align-items: center;
		gap: 2px;
		& .sr-title {
			font-size: 17px;
			text-align: center;
		}
		& .sr-author {
			font-size: 14px;
			color: var(--textColor);
			cursor: pointer;
		}
		& .sr-image {
			width: 180px;
			min-width: 180px;
			height: 240px;
			border-radius: 15px;
			&:hover {
				cursor: pointer;
				outline: 1px solid var(--accent2);
			}
		}
	}
}

#page_nav_con {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	height: fit-content;
	color: var(--textColor);
	& .page-nav {
		padding: 5px 5px 3px 5px;
		border-radius: 5px;
		background-color: var(--buttonBG);
		text-decoration: none;
		border: 1px outset var(--accent2);
		& svg {
			stroke: var(--textColor);
		}
		&:not(.page-nav[href]) {
			background-color: var(--BG);
			border: 1px solid var(--buttonBG);
			color: var(--buttonBG);
		}
		&:hover {
			background-color: var(--buttonBGHover);
		}
		&:active {
			background-color: var(--BG);
			border: 1px solid var(--accent);
		}
	}
	& .current-page {
		padding: 5px;
		border-radius: 5px;
		background-color: var(--BG);
		border: 1px solid var(--accent);
	}
}

#book_details {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	width: auto;
	position: relative;
	color: var(--textColor);
	& #back_button {
		background-color: var(--buttonBG);
		padding: 5px 5px 2px 5px;
		border-radius: 50%;
		position: absolute;
		top: 70px;
		left: 10px;
		border: 1px outset var(--accent2);
		& svg {
			stroke: var(--textColor);
		}
		&:hover {
			background-color: var(--buttonBGHover);
		}
		&:active {
			background-color: var(--BG);
			border: 1px solid var(--accent);
		}
	}
	& #bd_info {
		display: flex;
		flex-direction: row;
		width: 80%;
		justify-content: center;
		align-items: center;
		gap: 15px;
		& #bd_first_cover {
			width: 180px;
			height: 240px;
			border-radius: 15px;
			box-shadow: var(--boxShadow);
		}
		& #bd_info_text {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			& #bd_date_added {
				width: 100%;
				text-align: right;
				font-style: italic;
				font-size: 14px;
			}
		}
	}
	& #bd_title {
		font-size: 20px;
		font-weight: 600;
	}
	& #bd_authors {
		font-size: 14px;
	}
	& #bd_description {
		text-indent: 4ch;
	}
	& form {
		margin-top: 10px;
		width: 85%;
		& input,
		textarea {
			background-color: var(--inputBG);
			border: 1px solid black;
			outline: none;
		}
		& fieldset {
			text-align: center;
			padding: 15px;
			border-radius: 15px;
			border: 1px solid var(--accent2);
			& legend {
				padding: 0 5px;
			}
		}
		& #bd_status_con {
			background-color: var(--inputBG);
			border-radius: 5px;
			height: fit-content;
			width: fit-content;
			padding: 2px 0;
			& label {
				padding: 2px 5px;
				border-radius: 5px;
				font-size: 15px;
				cursor: pointer;
				&:hover {
					background-color: var(--buttonBGHover);
				}
			}
			& input:checked + label {
				background-color: var(--BG);
				outline: 1px solid var(--accent);
			}
		}
		& #bd_covers {
			/* display: flex;
			justify-content: space-between;
			flex-wrap: wrap; */
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
			gap: 10px;
			/* &:after {
				content: '';
				flex: auto;
			} */
			& label {
				width: 130px;
			}
			& img {
				width: 130px;
				height: 190px;
				border-radius: 15px;
				cursor: pointer;
				&:hover {
					outline: 2px solid var(--accent2);
				}
			}
			& .bd-cover-radio:checked + label img {
				outline: 2px solid var(--accent2);
			}
			& #bd_load_covers {
				width: 130px;
				height: 190px;
				border-radius: 15px;
				cursor: pointer;
				border: 1px outset var(--accent2);
				background-color: var(--buttonBG);
				color: var(--textColor);
				font-size: 16px;
				/* margin-left: 10px; */
				/* display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				justify-content: center;
				align-items: center; */
				&:hover {
					background-color: var(--buttonBGHover);
				}
				&:active {
					background-color: var(--BG);
					border: 1px solid var(--accent);
				}
			}
		}
		& #bd_save_inputs {
			display: flex;
			flex-direction: row;
			gap: 10px;
			margin-top: 10px;
			& textarea {
				width: 50%;
				height: 200px;
				padding: 5px;
				resize: none;
				border-radius: 5px;
				font-size: 16px;
			}
		}
		& #bd_save_options {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			width: 50%;
			align-items: left;
			& #bd_genre_con {
				text-align: left;
				font-size: 15px;
				& #bd_genre {
					padding: 2px 5px;
					border-radius: 5px;
				}
			}
			& #bd_rating_radios {
				text-align: left;
				cursor: default;
				& .bd-rating-radio {
					position: relative;
					top: 2px;
					&.active-rating + label svg {
						fill: yellow;
					}
					& + label {
						cursor: pointer;
						& svg {
							stroke: var(--textColor);
						}
					}
				}
			}
		}
		& #bd_buttons {
			display: flex;
			gap: 5px;
			justify-content: flex-end;
		}
		& .bd-button {
			padding: 2px 5px;
			background-color: var(--buttonBG);
			border-radius: 5px;
			width: fit-content;
			color: var(--textColor);
			border: 1px outset var(--accent2);
			outline: none;
			cursor: pointer;
			&:hover {
				background-color: var(--buttonBGHover);
			}
			&:active {
				background-color: var(--BG);
				border: 1px solid var(--accent);
			}
		}
	}
}

#notes_main {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	color: var(--textColor);
	& #back_button {
		background-color: var(--buttonBG);
		padding: 5px 5px 2px 5px;
		border-radius: 50%;
		position: absolute;
		top: 70px;
		left: 10px;
		border: 1px outset var(--accent2);
		& svg {
			stroke: var(--textColor);
		}
		&:hover {
			background-color: var(--buttonBGHover);
		}
		&:active {
			background-color: var(--BG);
			border: 1px solid var(--accent);
		}
	}
	& #n_book_info {
		display: flex;
		width: 80%;
		justify-content: center;
		align-items: center;
		gap: 10px;
		position: relative;
		& #n_cover {
			width: 180px;
			height: 240px;
			border-radius: 15px;
			box-shadow: 0 0 4px 4px rgb(35, 35, 35);
		}
		& #n_book_title {
			font-size: 20px;
			font-weight: 600;
		}
		& #new_note_button {
			position: absolute;
			bottom: -20px;
			right: -5%;
			padding: 2px 5px;
			border: 1px outset var(--accent2);
			background-color: var(--buttonBG);
			border-radius: 5px;
			color: var(--textColor);
			text-decoration: none;
			font-size: 15px;
			&:hover {
				background-color: var(--buttonBGHover);
			}
			&:active {
				background-color: var(--BG);
				border: 1px solid var(--accent);
			}
		}
	}
	& #notes {
		width: 90%;
		border-top: 1px solid var(--accent2);
		padding-top: 20px;
		margin-top: 30px;
	}
	& .note {
		width: 100%;
		height: fit-content;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-bottom: 15px;
		margin-bottom: 10px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		&:last-of-type {
			border-bottom: none;
		}
		& .n-details {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			font-size: 14px;
			padding-top: 5px;
			gap: 3px;
			& .n-date {
				font-style: italic;
				opacity: 0.7;
			}
			& .n-location {
				opacity: 0.7;
			}
			& .n-buttons {
				display: flex;
				gap: 5px;
				& a {
					padding: 1px 5px;
					font-size: 14px;
					color: var(--textColor);
					text-decoration: none;
					border: 1px outset var(--accent2);
					background-color: var(--buttonBG);
					border-radius: 5px;
					&:hover {
						background-color: var(--buttonBGHover);
					}
					&.n-delete {
						color: red;
					}
					&:active {
						background-color: var(--BG);
						border: 1px solid var(--accent);
					}
				}
			}
		}
		& .n-body {
			display: flex;
			flex-direction: column;
			width: 70%;
			height: fit-content;
			justify-content: flex-start;
			align-items: flex-start;
			& .n-title {
				font-size: 19px;
				font-weight: 600;
				margin-bottom: 5px;
			}
			& .n-text {
				font-size: 15px;
				text-indent: 2ch;
			}
		}
	}
}

#nn_form {
	width: 85%;
	margin: 10px auto 0 auto;
	color: var(--textColor);
	& input,
	textarea {
		background-color: var(--inputBG);
		border: 1px solid black;
		outline: none;
		padding: 2px 5px;
		border-radius: 5px;
	}
	& fieldset {
		text-align: center;
		padding: 15px;
		border-radius: 15px;
		border: 1px solid var(--accent2);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 15px;
		& legend {
			padding: 0 5px;
			font-size: 16px;
		}
		& > div {
			display: flex;
			flex-direction: column;
			gap: 5px;
			&:last-of-type {
				justify-content: center;
				gap: 15px;
			}
		}
		& #nn_body_con {
			width: 100%;
		}
		& #nn_options_con {
			align-items: flex-end;
			flex-direction: row;
			& input[type='text'] {
				width: 40px;
				font-size: 15px;
			}
		}
		& #nn_title {
			font-size: 17px;
		}
		& #nn_note_text {
			resize: none;
			min-width: 100%;
			height: 400px;
			font-size: 16px;
		}
	}

	& .nn-button {
		width: fit-content;
		padding: 2px 5px;
		background-color: var(--buttonBG);
		border-radius: 5px;
		color: var(--textColor);
		border: 1px outset var(--accent2);
		outline: none;
		cursor: pointer;
		&:hover {
			background-color: var(--buttonBGHover);
		}
		&:active {
			background-color: var(--BG);
			border: 1px solid var(--accent);
		}
	}
}

footer {
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	font-size: 13px;
	padding-right: 10px;
	position: absolute;
	bottom: 1px;
	color: var(--textColor);
}
