@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');
:root {
	--accent: darkblue;
	--accent2: gainsboro;
	--buttonBG: rgb(60, 60, 60);
	--buttonBGHover: rgb(90, 90, 90);
	--BG: rgb(21, 21, 21);
	--textColor: white;
	--textColorOnA2: black;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Ovo', serif;
	color-scheme: dark;
}
body {
	background-color: var(--BG);
}
main {
	margin-top: 70px;
}
header {
	width: 100%;
	position: fixed;
	top: 0;
	height: 50px;
	max-height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5px;
	background-color: var(--accent2);
	& #header_title {
		font-size: 19px;
		font-weight: 500;
		color: var(--textColorOnA2);
		letter-spacing: 2px;
		& svg {
			position: relative;
			top: 4px;
		}
	}
	& #search_input,
	#type_select {
		height: 20px;
		border-radius: 5px;
		outline: none;
		border: 1px solid black;
		padding: 2px;
	}
	& #type_select {
		padding: 0;
	}
	& #home_link {
		color: black;
		text-decoration: none;
		&:hover svg {
			stroke: var(--accent);
		}
	}
	& label {
		color: var(--textColorOnA2);
	}
	& #search_submit {
		background-color: transparent;
		outline: none;
		border: none;
		position: relative;
		top: 3px;
		cursor: pointer;
		&:hover svg {
			stroke: var(--accent);
		}
	}
}
.rating-radio:checked + label svg {
	fill: yellow;
}
#saved_books {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 5px;
	padding: 15px;
	& .saved-book {
		display: flex;
		gap: 5px;
		border: 1px solid var(--accent);
		border-radius: 15px;
		padding-right: 5px;
		box-shadow: 0 0 4px 2px rgb(35, 35, 35);
		& .sb-cover {
			width: 180px;
			height: 240px;
			min-width: 180px;
			border-radius: 15px;
		}
		& .sb-info {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			/* border: 1px solid red; */
			& .sb-title {
				font-size: 18px;
				font-weight: 600;
				letter-spacing: 1px;
			}
			& .sb-rating {
				display: flex;
				align-items: center;
				gap: 2px;
			}
			& .sb-status {
				padding: 2px 5px;
				border-radius: 7px;
				text-decoration: none;
				color: var(--textColor);
				&.to {
					background-color: rgb(83, 0, 0);
					&:hover {
						background-color: rgb(114, 1, 1);
					}
				}
				&.reading {
					background-color: rgb(124, 91, 9);
					&:hover {
						background-color: rgb(143, 106, 12);
					}
				}
				&.have {
					background-color: rgb(0, 63, 0);
					&:hover {
						background-color: rgb(0, 82, 0);
					}
				}
			}
			& .sb-buttons {
				display: flex;
				width: stretch;
				justify-content: flex-end;
				gap: 5px;
				font-size: 14px;
				& > * {
					text-decoration: none;
					background-color: var(--buttonBG);
					border-radius: 5px;
					color: var(--textColor);
					width: fit-content;
					padding: 2px 5px;
					&:hover {
						background-color: var(--buttonBGHover);
					}
				}
				& .sb-delete {
					color: red;
				}
			}
		}
	}
}

@media (max-width: 1080px) {
	#saved_books {
		grid-template-columns: 1fr 1fr;
	}
}
@media (max-width: 775px) {
	#saved_books {
		grid-template-columns: 1fr;
	}
}

.filter-bar {
	padding-bottom: 15px;
	margin: 0 15px;
	width: auto;
	border-bottom: 1px solid var(--accent);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
	& > * {
		border: none;
		background-color: var(--buttonBG);
		border-radius: 5px;
		text-decoration: none;
		padding: 2px 5px;
		color: var(--textColor);
		&:hover {
			background-color: var(--buttonBGHover);
		}
		&.active {
			border: 1px solid var(--accent);
			background-color: var(--BG);
		}
	}
}
